<!DOCTYPE html>
<html>

<head>
    <title>Criar Cliente</title>
</head>

<body>
    <h1>Criar Cliente</h1>
    <form method="POST" action="/clientes/criar">
        Nome: <input type="text" name="nome" required><br>
        Email: <input type="email" name="email"><br>
        Telefone: <input type="text" name="telefone"><br>
        Endereço: <input type="text" name="endereco"><br>
        Documento: <input type="text" name="documento_identidade"><br>
        <button type="submit">Salvar</button>
    </form>
    <a href="/clientes">Voltar à lista</a>
</body>

</html>